* {
	margin: 0;
	padding: 0;
}

body {
  background-color: #fbfbfb  ;
}

/* Default Design */
.gfg-div {
    display: flex;
    justify-content: space-between; /* This pushes one to left, one to right */
    align-items: center;           /* Centers them vertically */
    
    background-color: #1120de;
    color: white;
    padding: 15px 30px;
    width: 100%;
    box-sizing: border-box;
    font-size: 20px;
}

.gfg2-div {
    display: flex;
    justify-content: space-between; /* This pushes one to left, one to right */
    align-items: center;           /* Centers them vertically */
    
    background-color: #ff0000;
    color: white;
    padding: 15px 30px;
    width: 100%;
    box-sizing: border-box;
    font-size: 20px;
}

#live-clock {
    font-size: 16px;
    font-weight: normal;
    font-family: monospace; /* Stops the numbers from "jumping" as they change */
}

.gfg-container {
    display: flex;
    width: 100%;
    gap: 10px; /* Space between columns */
}

.column {
    flex: 1; /* This makes all columns equal width */
    background-color: #f0f0f0;
    padding: 20px;
    border: 1px solid #ccc;
    text-align: center;
}

.footer-container {
	display: flex;
	justify-content: center; /* Centers the footer horizontally */
	align-items: center;     /* Centers the footer vertically */
	background-color: #504e4e; /* Dark background for the footer */
	color: white;          /* White text color for contrast */
	padding: 5px;         /* Padding around the footer content */
}

/* For Desktop View */
@media screen and (min-width: 1024px) {
	.gfg-div {
		background-color: #1120de;
		color: #fff;
	}
}

/* For Tablet View */
@media screen and (min-device-width: 768px)
	and (max-device-width: 1024px) {
	.gfg-div {
		width: 100%;
		height: 20px;
		background-color: #1120de;
		color: rgb(244, 236, 236);
	}
}

/* For Mobile Portrait View */
@media screen and (max-device-width: 480px)
	and (orientation: portrait) {
	.gfg-div {
		width: 200px;
		height: 200px;
		background-color: #1120de;
		color: #fff;
	}
}

/* For Mobile Landscape View */
@media screen and (max-device-width: 640px)
	and (orientation: landscape) {
	.gfg-div {
		width: 400px;
		height: 200px;
		background-color: #1120de;
		color: rgb(255, 255, 255);
	}
}

/* For Mobile Phones Portrait or Landscape View */
@media screen
	and (max-device-width: 640px) {
	.gfg-div {
		width: 400px;
		height: 200px;
		background-color: #1120de;
		color: rgb(253, 253, 253);
	}
}

/* For iPhone 4 Portrait or Landscape View */
@media screen and (min-device-width: 320px)
	and (-webkit-min-device-pixel-ratio: 2) {
	.gfg-div {
		width: 100%;
		height: 70px;
		background-color: #1120de;
		color: rgb(255, 254, 254);
	}

	.gfg2-div {
		width: 100%;
		height: 50px;
		background-color: #ff0000;
		color: rgb(255, 255, 255);
	}
	.a {
		font-size: 12px;
		width: 33%;
	}

	.gfg-container {
    display: flex;
    width: 100%;
    gap: 10px; /* Space between columns */

	.footer-container {
	display: flex;
	justify-content: center; /* Centers the footer horizontally */
	align-items: center;     /* Centers the footer vertically */
	background-color: #504e4e; /* Dark background for the footer */
	color: white;          /* White text color for contrast */
	padding: 5px;         /* Padding around the footer content */
}
}

.column {
    flex: 1; /* This makes all columns equal width */
    background-color: #f0f0f0;
    padding: 20px;
    border: 1px solid #ccc;
    text-align: center;
}
}

/* For iPhone 5 Portrait or Landscape View */
@media (device-height: 568px)
	and (device-width: 320px)
	and (-webkit-min-device-pixel-ratio: 2) {
	.gfg-div {
		width: 400px;
		height: 400px;
		background-color: #1120de;
		color: rgb(226, 217, 217);
	}

	.gfg2-div {
		width: 400px;
		height: 400px;
		background-color: #1120de;
		color: rgb(226, 217, 217);
	}
}

/* For iPhone 6 and 6 plus Portrait or Landscape View */
@media (min-device-height: 667px)
	and (min-device-width: 375px)
	and (-webkit-min-device-pixel-ratio: 3) {
	.gfg-div {
		width: 400px;
		height: 400px;
		background-color: #1120de;
		color: rgb(246, 242, 242);
	}
};


